
<!doctype html>
<html>

<head>
  <script src="https://api.apiary.io/seeds/embed.js"></script>
</head>

  <body id="application" class="API_EDITOR">

  <script>
    new Apiary.Embed({
        "subdomain": "elgordo",
        "preferences": {
            "element": "#documentation",
            "displayHttpMethods": true
        },
        "theme": {
            "fontFamily": "Roboto"
        },
        "customFonts": {
            "googleFonts": "https://fonts.googleapis.com/css?family=Roboto"
        }
    })
  </script>

  </body>

</html>
